// iconmoon
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/icomoon/icomoon.eot?ukh0o3#iefix')
      format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?ukh0o3') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?ukh0o3') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?ukh0o3#icomoon') format('svg');
  font-display: block;
}
