.heading {
  @include respond(small) {
    @include font-size(medium);
  }
  @include font-size(large);
  @include font-weight(bold);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: color(dark);
}

.paragraph {
  @include respond(small) {
    @include font-size(small);
  }
  @include font-size(regular);
  @include font-weight(regular);
  line-height: 1.8;
  letter-spacing: normal;
  color: color(grey);
}
