.page {
  &-body {
    min-height: 100vh;
  }

  &__desc {
    @include respond(large) {
      margin-right: 0;
    }

    @include respond(medium) {
      @include font-size(medium);
    }

    @include font-size(large);
    margin-right: 1rem;
    margin-bottom: 1.5rem;
  }

  &__heading {
    @include respond(medium) {
      @include font-size(m-large);
    }

    @include font-size(x-large);
    letter-spacing: 3px;
  }
}
