.section {
  position: relative;
  padding: 3rem 0;

  &__header {
    position: relative;
    margin-bottom: 3rem;
    padding-top: 1rem;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 4px;
      width: 40px;
      height: 8px;
      background-color: color(primary);
      transform: translateX(-50%);
      content: '';
    }

    .heading {
      @include font-weight(regular);
      margin-bottom: 1rem;
      font-size: 25px;
    }
  }
}
