$colors: (
  black: #000,
  dark: #4a4a4a,
  dark-blue: #12131e,
  grey: #9b9b9b,
  light-grey: #f8f9fa,
  light-blue: rgba(1, 95, 209, 0.05),
  primary: #015fd1,
  red: #f00,
  white: #fff
);

$main-font: 'Lato', sans-serif;

$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 900
);

$font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 20px,
  m-large: 30px,
  x-large: 40px,
  xx-large: 70px
);
