.card {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.198568);
  border-radius: 4px;
  background: color(white);

  &__text {
    margin-bottom: 0;

    &--big {
      @include font-size(x-large);
      @include font-weight(bold);
      color: color(primary);
    }

    &--small {
      @include font-size(small);
    }
  }
}
