.modal {
  &-backdrop {
    &.show {
      opacity: 0.9;
    }
  }

  &__body {
    padding: 4rem 1.5rem;
  }

  &-content {
    background: transparent;
  }

  .close-icon {
    z-index: 3;
    position: absolute;
    top: -30px;
    right: 0;
  }
}
